# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/GeneticArt/.vs/GeneticArt/v14
/GeneticArt/Library
/GeneticArt/obj/Debug
/GeneticArt/PcBuild_Data
/GeneticArt/ProjectSettings
/GeneticArt/Temp
/GeneticArt/WebGlBuild
/GeneticArt/WebGlBuildBinary
/GeneticArt/20160704 Assets.zip
/Poker/Poker/Poker/bin/Debug
/Poker/Poker/Poker/obj/Debug
/Poker/Poker/Poker/Utility/HandEvaluation/HandRanks.dat
